<div class="login-container"> 
    <div class="login-content">
        <div class="top-container">
            <div class="top">
                <!-- inside content class  -->
                <h1 style="color: white;">Change Passowrd</h1>
            </div>
        </div>

        <div class="errorclass" *ngIf="emailerror">
            <div class="errorspan">
                <span>Enter The Email Properly</span>
                <a (click)="rmverror()" class="close">×</a>
            </div>
        </div>
        <div class="errorclass" *ngIf="passworderror">
            <div class="errorspan">
                <span>Passowrd and Confirm Password Don't Match</span>
                <a (click)="rmverror()" class="close">×</a>
            </div>
        </div>

        <div class="bottom-container">
            <div class="bottom">
                <div class="login-input">
                    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                        <!-- Login -->
                        <!-- email input  -->
                     
                        <div class="formdata">
                            <i class="fa-solid fa-user" style="color: #888888;"></i>
                        
                            <input  type="email" placeholder="User Name" required
                            formControlName="email">
                        </div>
                        <!-- </div> -->
                        <!-- password input  -->
                        <div class="formdata">
                            <input type="password"
                            required placeholder="Password" formControlName="password">
                        </div>
                        <div class="formdata">
                            <input type="password"
                            required placeholder="Confirm Your Password" formControlName="password_confirmation">
                        </div>
                        <div class="formdata">
                            <input type="text"
                            required placeholder="Enter The Token" formControlName="passwordToken">
                        </div>
                      
                        <div class="logbutton">
                            <button class="logbtn" type="submit">Reset Password</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>