/* Sir, I have a navbar in App-component and on clicking to navbar icons ,we reach to other components by routing , but sir this navbar is coming in every component made, how to remove that part. */

.login-container {
    width: 400px;
    height: 401px;

    z-index: 1000;
    /* top: 10%; */
    /* background-color:  !important; */
    border-radius: 5px; 
    position: absolute;
    
    left: 50%;
    top: 45%;
    transform: translate(-50%, -45%);
    overflow-y: hidden;


    /* margin: 40px auto; */

    /* align-items: center; */
    align-content: center;
    box-shadow: 5px 5px 20px #383838;
  }

body{
    background-color: #DDDDDD !important;
  }


  h1{
    margin-top: 5px !important;
  }

.login-content{
    
    border-radius: 5px;
} 

.top-container{
    height: 76px;
    width: 400px;
    padding: 14px 10px;
    background-color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

.top{
    background-color: black;
    width: 380px;
    height: auto;
    text-align: center;

    /* padding-top: 3rem; */
    /* width: 600px; */

    /* display: inherit; */
    /* padding-left: 3rem; */
    /* padding-right: 3rem; */

}

.bottom-container{
    height:325px;
    width: 400px;
    text-align: center;
    margin: auto auto;
    /* background-color: rgba(133, 130, 130, 0.7) !important; */
    background-color: #333333;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bottom{
    /* display: flex;
    color: white; */
    /* border-radius: 10px; */
    text-align: center;
    margin: auto;
    width: 75%;
    padding: 40px 0;
}

/* .div{
display: block;
} */



input{
    width: 300px !important;
    height:42px;
    margin: 0px 0px 15px;
    padding: 8px 10px 5px 45px;
    font-size: 14px ;
    background-color: white;
}

/* .inputfield{
} */
.formdata{
    width: 300px;
    height: 57px;
}

.lang{
    margin: 0px 0px 15px;
 }
 select{
    width: 300px !important;
    height:42px;
    text-align: initial;
 }

.logbutton{
    width: 300px;
    height:42px;
}
.logbtn{
    width: 300px;
    height:42px;
    padding: 10px;
    color: white;
    background-color: black;
    font-size: 16px;
 
}

.forget-password{
    display: block;
width: 210px;
height: 32px;
margin: 0px 45px;
padding-top: 12px;
padding-left:0px;
}
.forgetpassword{
    text-decoration: none;
    width: 95.94px !important;
    height: 14px !important;
    color: white;
    font-size: 12px;
    vertical-align: auto;
}
.forgetusername{
    width: 107.36px !important;
    height: 14px !important;
    text-decoration: none;
    color: white;
    font-size: 12px;
    vertical-align: auto;
    padding-left:10px ;
}
.errorclass{
    width: 400px;
    height: 46px;
    padding: 12px 8px;
    border: 1px solid #CC4949;
    background-color: #CC4949;
   
}
.errorspan{
    font-size: 12px;
    border-radius: 0;
    display: inline-block;
    width: 342px;
    height: 20px;
    color: white;
    display: inline-block;
}
.close{
    float:right;
    font-size: 1.5rem;
    text-shadow: 0 1px 0 #fff;
    font-weight: 700;
    opacity: .5;
    height: 20px;
}
a.close{
    width: 12.5px;
    height: 24px;
    display: inline-block;
    position: absolute;
    right: 10px;
    text-decoration: none;
    color: black;
    /* top: calc(50% - 16px); */
}
/* span{
    align-items: center;
} */